<form class="mdl-cell--4-col" action="#!" style="margin-left: 10%; margin-top: 5%; margin-bottom:-5%;">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
            <i class="large material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="text" id="search">
            <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
        </div>
    </div>
</form>

<form action="#" style="margin-left: 25%">
    <div class="mdl-textfield mdl-js-textfield getmdl-select">
        <input class="mdl-textfield__input" value="" id="sort" readonly/>
        <input value="" type="hidden" name="sort"/>
        <label class="mdl-textfield__label" for="sort">Sort by</label>
        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="sort">
            <li class="mdl-menu__item" data-val="AE">Arts and Entertainment</li>
            <li class="mdl-menu__item" data-val="BZ">Business</li>
            <li class="mdl-menu__item" data-val="BP">Biological and Physical Sciences</li>
            <li class="mdl-menu__item" data-val="ED">Education</li>
            <li class="mdl-menu__item" data-val="GV">Government</li>
            <li class="mdl-menu__item" data-val="HM">Health &amp; Medicine</li>
            <li class="mdl-menu__item" data-val="IT">International</li>
            <li class="mdl-menu__item" data-val="LP">Law and Public Policy</li>
            <li class="mdl-menu__item" data-val="NP">Nonprofit</li>
            <li class="mdl-menu__item" data-val="SO">Society</li>
            <li class="mdl-menu__item" data-val="TC">Technology</li>
        </ul>
    </div>
</form>
